/*
!src/**/*
!test/**/*
!*.js
!*.ts

# Ignore built files
dist/**
coverage/**
*.d.ts

# Ignore environment files
.env*
!.env.example

# Ignore IDE specific files
.vscode/**
.idea/**

# Ignore node modules
node_modules/**

# Ignore test files
*.spec.ts
*.test.ts
